<html lang="en" class="" style="height: auto">
  <head>
    <script
      defer=""
      referrerpolicy="origin"
      src="/cdn-cgi/zaraz/s.js?z=JTdCJTIyZXhlY3V0ZWQlMjIlM0ElNUIlNUQlMkMlMjJ0JTIyJTNBJTIyQWRtaW5MVEUlMjAzJTIwJTdDJTIwQmxhbmslMjBQYWdlJTIyJTJDJTIyeCUyMiUzQTAuNDYxNTk1MDY3NDkxNjEwMyUyQyUyMnclMjIlM0ExNDY3JTJDJTIyaCUyMiUzQTgyNSUyQyUyMmolMjIlM0E2NjclMkMlMjJlJTIyJTNBMTQ2NiUyQyUyMmwlMjIlM0ElMjJodHRwcyUzQSUyRiUyRmFkbWlubHRlLmlvJTJGdGhlbWVzJTJGdjMlMkZwYWdlcyUyRmV4YW1wbGVzJTJGYmxhbmsuaHRtbCUyMiUyQyUyMnIlMjIlM0ElMjJodHRwcyUzQSUyRiUyRmFkbWlubHRlLmlvJTJGdGhlbWVzJTJGdjMlMkZwYWdlcyUyRmV4YW1wbGVzJTJGcHJvamVjdHMuaHRtbCUyMiUyQyUyMmslMjIlM0EyNCUyQyUyMm4lMjIlM0ElMjJVVEYtOCUyMiUyQyUyMm8lMjIlM0E0MjAlMkMlMjJxJTIyJTNBJTVCJTdCJTIybSUyMiUzQSUyMnNldCUyMiUyQyUyMmElMjIlM0ElNUIlMjIwJTIyJTJDJTIyZSUyMiUyQyU3QiUyMnNjb3BlJTIyJTNBJTIycGFnZSUyMiU3RCU1RCU3RCU1RCU3RA=="
    ></script>
    <script
      type="text/javascript"
      async=""
      src="/wzrt/fEpdG1TdjNa0rIXpPQgi6yx59lcyhJ8EQlBmjqOQX0t5CWly"
      nonce="b77bc3e1-bc7d-4cea-a25a-b2029a66954d"
    ></script>
    <script async="" src="/wzrt/"></script>
    <script>
      (function (w, i, g) {
        w[g] = w[g] || [];
        if (typeof w[g].push == "function") w[g].push(i);
      })(window, "GTM-WHH7CJ83", "google_tags_first_party");
    </script>
    <script>
      (function (w, d, s, l) {
        w[l] = w[l] || [];
        (function () {
          w[l].push(arguments);
        })("set", "developer_id.dYzg1YT", true);
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s);
        j.async = true;
        j.src = "/wzrt/";
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer");
    </script>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} Dashboard {% endblock title %} | PetCare </title>
    {% load static %}
    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="{% static 'plugins/fontawesome-free/css/all.min.css' %}"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}" />
    <script data-cfasync="false" nonce="b77bc3e1-bc7d-4cea-a25a-b2029a66954d">
      try {
        (function (w, d) {
          !(function (j, k, l, m) {
            if (j.zaraz) console.error("zaraz is loaded twice");
            else {
              j[l] = j[l] || {};
              j[l].executed = [];
              j.zaraz = { deferred: [], listeners: [] };
              j.zaraz._v = "20";
              j.zaraz._n = "b77bc3e1-bc7d-4cea-a25a-b2029a66954d";
              j.zaraz.q = [];
              j.zaraz._f = function (n) {
                return async function () {
                  var o = Array.prototype.slice.call(arguments);
                  j.zaraz.q.push({ m: n, a: o });
                };
              };
              for (const p of ["track", "set", "debug"])
                j.zaraz[p] = j.zaraz._f(p);
              j.zaraz.init = () => {
                var q = k.getElementsByTagName(m)[0],
                  r = k.createElement(m),
                  s = k.getElementsByTagName("title")[0];
                s && (j[l].t = k.getElementsByTagName("title")[0].text);
                j[l].x = Math.random();
                j[l].w = j.screen.width;
                j[l].h = j.screen.height;
                j[l].j = j.innerHeight;
                j[l].e = j.innerWidth;
                j[l].l = j.location.href;
                j[l].r = k.referrer;
                j[l].k = j.screen.colorDepth;
                j[l].n = k.characterSet;
                j[l].o = new Date().getTimezoneOffset();
                if (j.dataLayer)
                  for (const t of Object.entries(
                    Object.entries(dataLayer).reduce(
                      (u, v) => ({ ...u[1], ...v[1] }),
                      {},
                    ),
                  ))
                    zaraz.set(t[0], t[1], { scope: "page" });
                j[l].q = [];
                for (; j.zaraz.q.length; ) {
                  const w = j.zaraz.q.shift();
                  j[l].q.push(w);
                }
                r.defer = !0;
                for (const x of [localStorage, sessionStorage])
                  Object.keys(x || {})
                    .filter((z) => z.startsWith("_zaraz_"))
                    .forEach((y) => {
                      try {
                        j[l]["z_" + y.slice(7)] = JSON.parse(x.getItem(y));
                      } catch {
                        j[l]["z_" + y.slice(7)] = x.getItem(y);
                      }
                    });
                r.referrerPolicy = "origin";
                r.src =
                  "/cdn-cgi/zaraz/s.js?z=" +
                  btoa(encodeURIComponent(JSON.stringify(j[l])));
                q.parentNode.insertBefore(r, q);
              };
              ["complete", "interactive"].includes(k.readyState)
                ? zaraz.init()
                : j.addEventListener("DOMContentLoaded", zaraz.init);
            }
          })(w, d, "zarazData", "script");
          window.zaraz._p = async (cc) =>
            new Promise((cd) => {
              if (cc) {
                cc.e &&
                  cc.e.forEach((ce) => {
                    try {
                      const cf = d.querySelector("script[nonce]"),
                        cg = cf?.nonce || cf?.getAttribute("nonce"),
                        ch = d.createElement("script");
                      cg && (ch.nonce = cg);
                      ch.innerHTML = ce;
                      ch.onload = () => {
                        d.head.removeChild(ch);
                      };
                      d.head.appendChild(ch);
                    } catch (ci) {
                      console.error(`Error executing script: ${ce}\n`, ci);
                    }
                  });
                Promise.allSettled(
                  (cc.f || []).map((cj) => fetch(cj[0], cj[1])),
                );
              }
              cd();
            });
          zaraz._p({ e: ["(function(w,d){})(window,document)"] });
        })(window, document);
      } catch (e) {
        throw (fetch("/cdn-cgi/zaraz/t"), e);
      }
    </script>
    <script>
      (function (w, d) {})(window, document);
    </script>
    <script>
      (function (w, d) {
        w.zarazData.executed.push("Pageview");
      })(window, document);
    </script>
    <script>
      (function (w, d) {})(window, document);
    </script>
  </head>
  <body
    class="sidebar-mini layout-navbar-fixed layout-fixed"
    data-new-gr-c-s-check-loaded="14.1331.0"
    data-gr-ext-installed=""
    style="height: auto"
  >
    <!-- Site wrapper -->
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-light bg-primary">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="../../index3.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Contact</a>
          </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">


          <!-- Notifications Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="far fa-bell"></i>
              <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-item dropdown-header"
                >15 Notifications</span
              >
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i> 4 new messages
                <span class="float-right text-muted text-sm">3 mins</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-users mr-2"></i> 8 friend requests
                <span class="float-right text-muted text-sm">12 hours</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-file mr-2"></i> 3 new reports
                <span class="float-right text-muted text-sm">2 days</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer"
                >See All Notifications</a
              >
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>          
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="fas fa-power-off"></i>
              <span class="badge badge-warning navbar-badge"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <!-- Header de usuario -->
              <div class="dropdown-item user-header bg-primary text-center">
                <img
                  id="avatar4"
                  src="{% static 'img/logo.png' %}"
                  class="img-circle"
                  alt="User Image"
                  style="width: 60px; height: 60px; display: block; margin: 0 auto;"
                />
                <p>Miembro desde: <small>Fecha de registro</small></p>
            </div>
            
  
              <div class="dropdown-divider"></div>
  
              <!-- Enlace al perfil -->
              <a href="" class="dropdown-item">
                <i class="fas fa-user mr-2"></i> Perfil
              </a>
  
              <div class="dropdown-divider"></div>
  
              <!-- Enlace de logout -->
              <a href="{% url 'logout' %}" class="dropdown-item">
                <i class="fas fa-sign-out-alt mr-2"></i> Logout
              </a>
  
              <div class="dropdown-divider"></div>
  
              <!-- Opción de ver todas las notificaciones (opcional) -->
              <a href="#" class="dropdown-item dropdown-footer">
                Ver todas las notificaciones
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="../../index3.html" class="brand-link bg-primary">
          <img
            src="{% static 'img/logo.png' %}"
            alt="PetCare"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
          />
          <span class="brand-text font-weight-light">PetCare</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar" style="overflow-y: auto">
          <!-- Sidebar user (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img
                src="{% static 'img/user.jpg' %}"
                class="img-circle elevation-2"
                alt="User Image"
              />
            </div>
            <div class="info">
              <a href="#" class="d-block">{{usuario.first_name}} {{usuario.last_name}}</a>
            </div>
          </div>

          <!-- SidebarSearch Form -->
          <div class="form-inline">
            
          </div>

          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
              <!-- /.leftsidebar-menu -->
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    Gestion de usuarios
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'vista_usuario' %}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Crear usuario</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../charts/flot.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Flot</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../charts/inline.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Inline</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../charts/uplot.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>uPlot</p>
                    </a>
                  </li>
                </ul>
              </li>  

            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style="min-height: 553.522px">
        {% block content %}
        {% endblock %}
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <div class="float-right d-none d-sm-block"><b>Version</b> 1.0.0</div>
        <strong
          >Copyright © 2025-2026
          <a href="https://adminlte.io">PetCare</a>.</strong>
        All rights reserved.
      </footer>

      <!-- /.control-sidebar -->
      <div id="sidebar-overlay"></div>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>    
  </body>
</html>
